target/*
*.settings
*.classpath
*.project
*.bak

.idea/
*.iml

mates-contacts-web/target/*
mates-contacts-test/target/*
mates-contacts-service/target/*
mates-contacts-config/target/*
mates-contacts-biz/target/*

将删除 .idea/

